<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <bean id="address" class="com.spring.java.Address">
    <constructor-arg value="Nellore"></constructor-arg>
    <constructor-arg value="Andhra Pradesh"></constructor-arg>
    <constructor-arg value="India"></constructor-arg>
    </bean>
    
    <bean id="employee" class="com.spring.java.Employee">
    <constructor-arg value="10" ></constructor-arg>
    <constructor-arg value="Venkat" ></constructor-arg>
    <constructor-arg>
    <ref bean="address"/>
    </constructor-arg>
    </bean>

</beans>